<div class='info' ng-controller="linksController">

  <input type="text" ng-model="name" placeholder="Search by title">
  <p>Sort by...
  <select name="select" ng-model="sortCriterion">
    <option value="visits">Visits</option>
    <option value="title">Title</option>
    <option value="url">URL</option>
  </select>
  </p>

  <div class='link' ng-repeat="link in links | filter:{title: name} | orderBy: sortCriterion:true">
    <img src='../redirect_icon.png'/>
    <div class='visits'><span class='count'>{{ link.visits}}</span>Visits</div>
    <div class='title'>{{ link.title }}</div>
    <div class='original'>{{ link.url }}</div>
    <a href='{{ link.base_url }}/{{ link.code }}'>{{ link.base_url }}/{{ link.code }}</a>
  </div>

</div>
